/*
      _ _      _
      | (_)    (_)
   ___| |___  ___ _ __
  / _ \ | \ \/ / | '__|
 |  __/ | |>  <| | |
  \___|_|_/_/\_\_|_|    mark.I
*/
/*------------------------------------------------------------------
[Table of content]

1. Generics
2. Header / #header
3. Navigation / #navbar
4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/

/* [1. Generics]
-----------------------------------------------------*/
.nopl {padding-left: 0!important; }
.nopr {padding-right: 0!important; }
.nopt{padding-top: 0!important;}
.small {font-size: 12px; }
.big{font-size: 16px;}
.m-x{margin: 0 20px;}
.m-y{margin: 20px 0;}
.m-all{margin: 20px;}
.flatblue {background: #3bafda!important; color: #ffffff!important; }
.flatgreen {background: #589442!important; color: #ffffff!important; }
.flatred {background: #e74c3c!important; color: #ffffff!important; }
.flatorange {background: #f1c40f!important; color: #ffffff!important; }
.flatpurple {background: #967ADC!important; color: #ffffff!important; }
.flatgrey {background: #bdc3c7!important; }
.textblue {color: #2980b9; }
.textgreen {color: #589442; }
.textred {color: #e74c3c; }
.textorange {color: #f1c40f; }
.textpurple {color: #8e44ad; }
.textgrey {color: #bdc3c7; }
.row {margin: 10px 0; }
.btn {padding: 6px 8px; border-radius: 2px;}
.btn i{padding: 0 5px 0 0;}
.sep-right{border-right: 1px solid #ccc;}
h1,h2,h3,h4,h5,h6{color: #333; padding-bottom: 5px}
.underlined{border-bottom: 1px solid #eee;}

/* Content elements
-----------------------------------------------------*/
html, body {min-height: 100%; height: 100%; position: relative;}
body{font-size: 16px; background: #EBEAE8; color: #666;}
body.mfn{background: #fff;}
header {height: 50px; line-height: 50px;width: 50px;display: inline-block;}
header img{height: 50px;margin: -3px 0 0 0;}
.particles{background: #ff9933; height: 50px; width: 100%; top: 0; left: 0; z-index: 942;position: fixed;}
.particles a {padding-left: 30px; color: #fff;}
.particles a:hover {cursor: pointer; text-decoration: none;}

/*flexbox class should be added to rows if you want equal height module within that row*/
.flexbox, .flexbox > div[class*='col-lg'],.flexbox, .flexbox > div[class*='col-md'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}
.flexbox > div[class*='col-lg'] > .panel,.flexbox > div[class*='col-md'] > .panel {width: 100%}

/* Sidebar
-------------------------------------------------- */
.container-fluid.content {
    padding: 70px 20px 0 220px;
    margin-bottom: 10px;
    min-height: 100%;
    height: 100%;
    position: relative;
    transition: all .2s ease-in-out;
}

.sidebar {
    background: rgba(0, 0, 0, .9);
    width: 200px;
    color: #333;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    float: none;
    min-height: 100%;
    height: 100%;
    z-index: 742;
    transition: all .2s ease-in-out;
}
.sidebar.sidebar-collapsed{width: 50px;}

.sidebar #sidebar a, .sidebar.sidebar-collapsed #sidebar a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #fff;
    transition: all .2s ease-in-out;
}

.sidebar.sidebar-collapsed + .content{
    padding: 70px 20px 0 70px;
    transition: all .2s ease-in-out;
}

.sidebar ul {
    /*padding: 0;*/
    color: #fff;
}
.sidebar li {list-style: none;}

.sidebar a {
    padding: 0 10px;
    display: block;
    color: #6D747F;
}

#sidebar {
    left: 0;
    padding: 0;
    position: fixed;
    top: 50px;
    z-index: 42;
    height: 100%;
}

#sidebar ul > li > a > [class*="fa-"] {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  margin-right: 2px;
  height: auto;
}

#sidebar ul > li > a > span {
  font-weight: normal;
  display: inline-block;
}

.sidebar.sidebar-collapsed #sidebar li > a > span {
  display: none;
  transition: all .2s ease-in-out;
}

.sidebar.sidebar-collapsed #sidebar li > a:hover > span {
  margin: -50px 0 0 40px;
  min-height: 50px;
  min-width: 100px;
  background: #00aced;
  transition: all .2s ease-in-out;
}

#sidebar a:hover{
    background: #00aced;
    transition: all .2s ease-in-out;
}

/* Bootstrap Overrides
-------------------------------------------------- */
.panel {box-shadow: none; border: 0;border-bottom: 2px solid #d4dee4; margin: 10px 0;}
.panel-default>.panel-heading {background: #ffffff; margin-bottom: 0; border-bottom: 1px solid #dedede;min-height: 43px;}
.panel-title {font-size: 20px;}
.panel-heading{padding: 10px 15px; border: 0;}
.panel-heading h3{ font-weight: 200;}
.panel-heading:hover{cursor: pointer;}
.panel-body {padding: 15px;}
.panel.squared{border-radius: 0;}
.rounded-top{border-radius: 4px 4px 0 0;}
.progress{height: 5px; background: #e7e7e7;}

/* Drawer
-------------------------------------------------- */
.drawer {position: fixed; top: 50px; right: 0; z-index: 100; padding: 20px; visibility: hidden; width: 0; height: 0; background: #ffffff; -webkit-transition: height 0.5s; transition: height 0.5s; -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3); box-shadow: 0 0 3px 0 rgba(0,0,0,0.3); overflow-y: hidden;}
.drawer h5{text-transform: uppercase;}
/* Effect : Slide in on top */
.effect.drawer {-webkit-transform: translate3d(0, -100%, 0); transform: translate3d(100%, -100%, 0); }
.effect.drawer.st-menu-open {visibility: visible; width: 30%; height: 80%; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 9942; }
.effect.drawer::after {display: none; }

/* COMPONENTS
-------------------------------------------------- */

/* Widgets
---------------------------- */

/*Stats widget*/
.hero{
    margin: 0 0 30px 0;
    text-align: center;
}

.hero .value{
    color: #444;
    font-size: 42px;
}

.hero .label{
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -10px;
}

.hero .fa-arrow-circle-o-up{
    color: #28bd72;
    font-size: 1.4em
}

.hero .fa-arrow-circle-o-down{
    color: #e74c3c;
    font-size: 1.4em
}

.hero .fa-arrow-circle-o-right{
    color: #7f8c8d;
    font-size: 1.4em
}

/*User profile*/
.profile .panel-heading{position: relative; min-height: 100px; overflow: hidden;}
.profile .panel-body{padding-top: 50px;}
.profile p{margin-top: -10px;}
.profile-bg{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.user-pic{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    top: 70px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff;
}

/*Square color widget*/
.widget-sq-color-left{background: #fff;min-height: 80px; height: 80px;box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);}
.widget-sq-color-left .square{width: 80px; line-height: 80px; margin-right: 10px; float: left;}
.widget-sq-color-left i{font-size: 2em;}

/*Floating labels*/
.label-float


/*-----------------------------------
===== !! That's all Folks !! ;) =====
---------------------------------- */
