/* ==== #Import Section ==== */
/*@import url("font-awesome.css");*/
/* 
  _   _                          _     
 | \ | | ___ _ __ ___   ___  ___(_)___ 
 |  \| |/ _ \ '_ ` _ \ / _ \/ __| / __|
 | |\  |  __/ | | | | |  __/\__ \ \__ \
 |_| \_|\___|_| |_| |_|\___||___/_|___/*/

@font-face {
    font-family: 'OpenSansLight';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Light-webfont.woff') format('woff'),
    url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
    url('../font/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
.row {
    margin: 0
}

/* Alignment, emphasis & Colors
-----------------------------------------------------*/
.bold {
    font-weight: bold;
}
.sep_top {
    border-top: 5px solid #BBB;
    padding-top: 5px;
}
.sep_right {
    border-right: 5px solid #BBB;
    padding-right: 5px;
}
.sep_bottom {
    border-bottom: 2px solid #BBB;
    padding-bottom: 10px;
}
.sep_left {
    border-left: 5px solid #BBB;
    padding-left: 5px;
}
.noborder {
    border: none!important ;
}
.hr_top {
    border-top: 1px solid #BBB;
}
.hr_right {
    border-right: 1px solid #BBB;
}
.hr_bottom {
    border-bottom: 1px solid #BBB;
}
.hr_left {
    border-left: 1px solid #BBB;
}
.spacer {
    display: block;
    height: 10px;
}
.nomargin {
    margin: 0;
}
.m_x {
    margin: 0px 10px;
}
.m_y {
    margin: 10px 0;
}
.m_t {
    margin-top: 10px;
}
.s_m_t {
    margin-top: 30px;
}
.m_b {
    margin-bottom: 10px;
}
.m_t {
    margin-top: 10px!important;
}
.m_r {
    margin-right: 10px;
}
.m_l {
    margin-left: 10px;
}
.p_r {
    padding-right: 5px;
}
.p_x {
    padding: 0 15px;
}
.p_b {
    padding-bottom: 15px;
}
.p_y {
    padding: 15px 0;
}
.p_xy {
    padding: 15px;
}
.spacer {
    display: block;
    height: 20px;
}
.nopl {
    padding-left: 0;
}
.nopr {
    padding-right: 0;
}
.nopt {
    padding-top: 0;
}
.squared {
    border-radius: 0!important
}
.small {
    font-size: 12px;
}
.bigger {
    font-size: 16px;
}
.biggest {
    font-size: 18px;
}
.zahia {
    font-size: 22px;
}
.nabilla {
    font-size: 24px;
}
.bayrou {
    margin: 0 auto;
}
/* Colors
-----------------------------------------------------*/
.flatblue {background: #2980b9; color: #ffffff;}
.flatgreen {background: #27ae60; color: #ffffff;}
.flatred {background: #c0392b; color: #ffffff;}
.flatorange {background: #d35400; color: #ffffff;}
.flatpurple {background: #8e44ad; color: #ffffff;}
.flatgrey {background: #bdc3c7;}
.flatblack {background: #1e1e1e;}
.textblue {color: #2980b9;}
.textgreen {color: #27ae60;}
.textred {color: #c0392b;}
.textorange {color: #d35400;}
.textpurple {color: #8e44ad;}
.textgrey {color: #bdc3c7;}
.textwhite {color: #ffffff;}

.btn-default {
    background: #ffffff;
}
.noshadow {
    box-shadow: none;
}
.opensans {
    font-family: OpenSansLight;
}
.subtitle {
    font-family: OpenSansLight;
    font-size: 24px;
    color: #bdc3c7;
}

.branding {
    background: #00af3f;
    height: 80px;
    line-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
}
.content {
    margin-top: 60px;
}

.griddy {
    background: #bdc3c7;
    border-left: 1px solid #999999;
    min-height: 60px;
    line-height: 60px;
}
.colorblock {
    min-height: 100px;
}
.lfgreen {
    background: #00AF3F;
}
.lfred {
    background: #ec2839;
}
.lfblue {
    background: #86aefa;
}
.lfyellow {
    background: #FCC82F;
}
.lfblack {
    background: #1D1D1D;
}
.legend {
    text-align: center;
    color: #999999;
}

/* Components
-----------------------------------------------------*/
.navbar-fixed {
    padding-top: 51px;
}
.navbar {
    border-bottom: 1px solid #d1d4d7;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background: #fff;
}
.navbar-brand {
    font-size: 28px;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    background: #28bb72;
}
#guidelines h1{
	background: #2c3e50;
	color: #fff;
	font-weight: normal;
	font-size: 24px;
	padding: 5px 0;
}
#guidelines h2{
	background: #2c3e50;
	color: #fff;
	font-weight: normal;
	font-size: 24px;
	padding: 5px 0;
}

/*-----------------------------------
===== !! That's all Folks !! ;) =====
---------------------------------- */